@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-moon-time {
  font-family: var(--font-moon-time), serif;
}

.font-dancing-script {
  font-family: var(--font-dancing-script), cursive;
}

.font-bad-script {
  font-family: var(--font-bad-script), cursive;
}